@using PlanB.Models.Forms.Common;
@using System.Web;

@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IForm

<h2>@Model.FriendlyName</h2>

<br />

<div class="row">
    <div class="col-md-4">
        @if (!Model.HasStarted)
        {
            <form asp-action="GetPage" method="post">
                @Html.Raw(HttpUtility.HtmlDecode(Model.IntroContent))
                <input type="submit" value="Start" />
            </form>
        }
        else
        {
            @using (Html.BeginForm("GetPage", "Forms", FormMethod.Post))
            {
                @Html.HiddenFor(Model => Model.HasStarted);

                @if (!Model.AnotherFlag)
                {
                    <p>Form has started but another flag is false</p>
                }
                else
                {
                    <p>Form has started and another flag is true</p>
                }
                <input type="submit" value="Continue" />
            }

        }
    </div>
</div>


