@using PlanB.Models.Forms.Common;
@using System.Web;

@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FormViewModel

<h2>@Model.Form.FriendlyName</h2>

<br />

<div class="container">
    <div class="col-md-4">
        @using (Html.BeginForm("Start", "Forms", FormMethod.Post))
        {
            @Html.HiddenFor(Model => Model.InstanceId)
            @Html.HiddenFor(Model => Model.FormRegisterKey)
            @Html.Raw(HttpUtility.HtmlDecode(Model.Form.IntroContent))
            <button type="submit" class="btn btn-primary">Start</button>
        }
    </div>
</div>


